body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FDF7E3; /* Pastel background */
    color: #333;
    max-width: 800px;
    margin: 0 auto;
}
.rounded-top-image {
    max-width: 20%;
    height: 70px;
    width: 170px;
    border-radius: 50%;
}

header {
    background-color: #FFDDC1; /* Soft peach */
    color: #333;
    padding: 20px 0;
    text-align: center;
    border-bottom: 2px solid #FFABAB; /* Coral */
}

.section {
    margin: 20px;
    padding: 20px;
    background-color: #FFFFFF; /* White */
    border: 1px solid #FFD3B6; /* Light peach */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

h1, h2 {
    text-align: center;
    color: #FF6F61; /* Soft red */
}

p, ul {
    text-align: justify;
    line-height: 1.6;
    padding: 0 20px;
}

ul {
    list-style-type: disc;
    padding-left: 40px;
}

ul li {
    margin-bottom: 10px;
}

#linkedin-link {
    color: #FF6F61; /* Soft red */
    text-decoration: none;
}

#linkedin-link:hover {
    color: #FFABAB; /* Coral */
}

#gitHub-link {
    color: #FF6F61; /* Soft red */
    text-decoration: none;
}

#gitHub-link:hover {
    color: #FFABAB; /* Coral */
}

footer {
    background-color: #FFDDC1; /* Soft peach */
    color: #333;
    text-align: center;
    padding: 10px 0;
    border-top: 2px solid #FFABAB; /* Coral */
}
